[Unit]
Description=Run SigPro consumer every 15 seconds

[Timer]
OnBootSec=10s
OnUnitActiveSec=15s
AccuracySec=1s
Unit=sigpro-consumer.service
Persistent=true

[Install]
WantedBy=timers.target
